{block content}
<div class="row">
	<div class="col-xs-10  col-xs-offset-1">
		<h1>Bookmarklet</h1>
	</div>
</div>


<div class="row">
	<div class="col-xs-10  col-xs-offset-1">
		<p>Stahování videí a titulků bude ještě jednodušší, pokud si přidáte následující bookmarklet do oblíbených záložek.</p>
		<p>
		<ol>
			<li>Klikněte levým tlačítkem myši na odkaz níže a držte tlačítko myši stále zmáčknuté</li>
			<li>Nyní přetáhněte odkaz mezi záložky ve vašem webovém prohlížeči</li>
			<li>Hotovo! Na stránce s videem vám nyní bude pouze stačit kliknout na právě vytvořenou záložku.</li>
		</ol>
		</p>

		<p>
			<a href='javascript:window.location.replace("{plink //Start:}?url=" + document.URL);'>VideaČeskyDownloader</a>
		</p>
	</div>
</div>
